*{
  box-sizing: border-box;
  margin: 0%;
}

body{
  background-color:rgb(25, 28, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  text-align: center;
  color: white;
}

input[type=text]{
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50px;
  border: none;
  border-bottom: 2px solid #0D6EFD;
}

input[type=checkbox]{
  height: 16px;
  width: 16px;
  accent-color: #0D6EFD;
}

input:focus{
  outline: none;
}


.table {
  background-color: #34495eb4;
  border-collapse: collapse;
  width: 1000px;
  margin: 1% 1% 1% 0;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
  color: white;
}

.table th {
  background-color:#2c3e50;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size: 18px;
}
.table tr:nth-of-type(odd) {
  background: #16a084c6;
}
.table .selected{
  background-color: #ddd;
}

.delete{
  color: red;
  cursor: pointer;
  margin: 0 0 0 10%;
}

.edit{
  color: dodgerblue;
  cursor: pointer;
  margin: 0 0 0 10%;
}

.container{
display: flex;
align-items: center;
}

.delete-selected{
  background-color: #AB2E3C;
  color: white;
  border-radius: 10vh;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 2%;
  font-size: 20px;
  border: none;
}

.delete-selected:hover{
  box-shadow: 0px 0px 12px #AF1763;
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 80%;
}
.pagination ul{
  display: flex;
  margin: 0 4% 0 0;
  list-style-type: none;
  color: white;
}

.pagination li{
  background-color: #0D6EFD;
  border-radius: 50%;
  padding: 8px 12px 8px 12px;
  margin: 2vh;
  color: white;
  cursor: pointer;
}

.pagination #current{
  background-color: whitesmoke;
  color: black;
  border-radius: 50%;
  border-style: solid;
  border-color: dodgerblue;
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  margin: 2vh;
}

.pagination  button{
  background-color:#0D6EFD;
  color: white;
  cursor: pointer;
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 100%;
}

@keyframes zoomIn {
0% {
  transform: scale(60%);
}
25%{
    transform: scale(70%);  
}

50%{
    transform: scale(80%);  
}

75%{
    transform: scale(90%);  
}
100% {
  transform: scale(100%);
}
}

.popup{  
background: rgba(0,0,0,0.4);
backdrop-filter: blur(0px);
position: fixed;
width: 100%;
height: 100%;
top: 0%;
left: 0;
z-index: 9;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.popup p{
font-weight:600;
font-size: 20px;
text-align: center;
}

.popup hr{
margin: 1%;
color: deeppink;
}

.popup form{
background-color: whitesmoke;
width: 50%;
padding:2% 5% 2% 5%;
border-radius: 1vh;
animation: 0.2s ease 0s 1 zoomIn; 
}

.popup label{
font-weight:bold;
font-size: 16px;
}

.popup button{
background-color: #0D6EFD;
color: white;
border-radius: 10vh;
transition-duration: 0.4s;
cursor: pointer;
padding:2%;
font-size: 14px;
border: none;
}

.popup button:hover{
box-shadow: 0px 0px 12px #0D6EFD;
}

.popup .cancel{
background-color: crimson;
color: white;
border-radius: 10vh;
transition-duration: 0.4s;
cursor: pointer;
padding:2%;
margin: 1%;
font-size: 14px;
border: none;
}

.popup .cancel:hover{
box-shadow: 0px 0px 12px crimson;
}

.loading{
display: block;
width: 100px;
height: 100px;
margin: 100px;
border-radius: 50%;
border: 10px solid;
border-color: #0D6EFD transparent #AF1763 transparent;
animation: loading 0.5s linear infinite;
}
@keyframes loading {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
